.status{
    width: 300px;
    height: 300px;
    margin: 0 auto 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
    background:green;
    color: white;

}