nav {
  background-color: #fcfcfc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list_1 ul li {
  display: inline;
}
.list_2 ul li {
  display: inline;
  padding: 0 20px;
}
.App {
  text-align: center;
}
